@import 'variables'; 

body {
	font-family: $font-family_1;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: $color_1;
}

/*ADD heart icon fade in colour - same as home page*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.logo {
	display: flex;
	align-items: center;
	width: 197px;
	height: 36px;
	padding-top: 14px;
	padding-left: 89px;
}
.prev {
	margin-right: 75px;
	margin-left: -80px;
}
.image {
	position: relative;
	height: 275px;
	margin-bottom: -33px;
	align-items: center;
	width: 100%;
}
.menu-container {
	background-color: $background-color_2;
	border-radius: 45px;
	height: 1307px;
	margin-top: -4rem;
	background-color: $background-color_2;
	z-index: 1;
	position: relative;
	padding-top: 5px;
}
.header {
	font-size: 19px;
	font-weight: 400;
	line-height: 40.82px;
	font-style: italic;
	font-family: $font-family_1;
	margin-top: 0px;
	justify-content: space-between;
	margin-inline-start: 12px;
	>h1 {
		padding-top: 22px;
	}
}
p {
	font-family: $font-family_2;
	font-weight: 300;
	font-size: 16px;
	line-height: 18.75px;
	margin-top: -12px;
}
.heart-icon {
	display: flex;
	position: relative;
	width: 22px;
	height: 21px;
	top: -53px;
	left: 296px;
	cursor: pointer;
	transition: 0.8s ease-in;
	opacity: 1;
}
.under-line {
	border-bottom: 4px solid #99e2d0;
	width: 40px;
	top: 27px;
	border-radius: 3px;
	margin-bottom: 17px;
}

.fill-heart {
	position: relative;
	left: 20px;
	opacity: 0;
	&:hover {
		cursor: pointer;
		transition: 0.8s ease-in;
		opacity: 1;
		background: -moz-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
		color: $color_1;
		background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
		background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.fa-heart {
	&:hover {
		cursor: pointer;
		transition: 0.8s ease-in;
		opacity: 1;
		background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
		color: $color_8;
	}
}

.card {
	background-color: $background-color_3;
	width: 333px;
	height: 72px;
	padding-left: 15px;
	padding-bottom: 5px;
	gap: 5px;
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	align-items: center;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
	&:hover {
		.card-content {
			width: calc( 100% - 120px );
		}
		.price {
			transform: translateX(-23%);
		}
		.tick {
			animation: fadeIn 1s ease-in-out;
			opacity: 1;
		}
		.icon {
			animation: fadeIn 1s ease-in-out;
			opacity: 1;
		}
	}
}
}
.card-content {
	width: 100%;
	transition: width 250ms ease-in-out;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dish {
	display: flex;
	flex-direction: row;
	transition: width 250ms ease-in-out;
	width: auto;
}
.dish-info {
	font-size: 15px;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.price {
	display: flex;
	font-weight: 400;
	padding-bottom: 5px;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: -40px;
	width: 95%;
	transition: transform 0.3s ease-in-out;
	&:hover {
		+ {
			.tick {
				animation: fadeIn 1s ease-in-out;
				opacity: 1;
			}
			.icon {
				animation: fadeIn 1s ease-in-out;
				opacity: 1;
			}
		}
	}
}
.tick {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_8;
	height: 72px;
	width: 59px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 6px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_7;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	opacity: 0;
	position: absolute;
}
.main {
	>p {
		margin-top: 40px;
		gap: 12px;
		display: flex;
	}
}
.dessert {
	>p {
		margin-top: 40px;
		gap: 12px;
		display: flex;
	}
}
.Button {
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
	padding: 18px 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 50px;
	color: $color_1;
	background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
	width: 186px;
	text-align: center;
	margin-inline-start: 60px;
	&:hover {
		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	}
	&:after {
		content: "";
		position: absolute;
		background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
		opacity: 0;
	}
}
.dish-item {
	font-size: 18px;
	font-weight: 405;
}
@media only screen and (min-width: 992px) {
	.header {
		padding: 16px 64px;
		flex-direction: row;
		margin: -10px;
		padding: 0%;
	}
	.menu-container {
		padding: 16px 64px;
		flex-direction: row;
		margin: -10px;
	}
	.dish-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 10%;
		width: 80%;
	}
	.main {
		>p {
			margin-top: 0px;
		}
	}
	.dessert {
		>p {
			margin-top: 0px;
		}
	}
	.starters {
		>p {
			margin-top: 0px;
		}
	}
	.Button {
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 27em;
		margin-top: 35px;
	}
}
@media only screen and (min-width: 1200px) {
	.header {
		padding: 16px 64px;
		flex-direction: row;
		padding: 0%;
	}
	.dish-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 10%;
		width: 80%;
	}
	.menu-container {
		width: 75%;
		align-items: center;
		justify-content: center;
		margin-left: 9%;
		margin-right: 12.5%;
	}
	.card {
		width: 634px;
	}
	.restaurant-card-container {
		padding-bottom: 40px;
	}
	.main {
		>p {
			margin-top: 0px;
		}
	}
	.dessert {
		>p {
			margin-top: 0px;
		}
	}
	.starters {
		>p {
			margin-top: 0px;
		}
	}
	.Button {
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 27em;
		margin-top: 35px;
		padding: 0px 40;
		margin-left: 1px;
	}
}
